# Visual Studio / .NET
bin/
obj/
*.dll
*.exe
*.pdb

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Ignorar archivos generados por Visual Studio
.vscode/
.vs/

# Ignorar archivos de dependencias NuGet
/packages/
/*.suo
*.user
*.sln.docstates

*.log
*.tmp

LayoutTemplateWebApp/obj/