@page
@model LayoutTemplateWebApp.Pages.ErrorPageModel
@{

    Layout = "_ErrorLayout";
}

<div style="text-align:center; margin-top:50px;">
    <h1 style="color:red;">Oops! Algo salió mal.</h1>
    <p style="font-size:20px;">Lamentamos el inconveniente. Intente más tarde.</p>
    
</div>