@page
@model LayoutTemplateWebApp.Pages.ProfileModel
@{
}

<div class="ver-perfil">
    <div class="div">
        <div class="overlap-group">
            <footer class="footer">
                <p class="contacto-correo">Contacto <br />Correo: example@itcr.ac Teléfono: 2020-2020</p>
            </footer>
            <div class="content-page">
                <div class="container">
                    <div class="text-wrapper">Perfil</div>
                    <div class="frame">
                        <div class="card">
                            <div class="wrapper">
                                <div class="image">
                                    <div class="image-2">
                                        <div class="aspect-ratio-keeper">
                                            <div class="aspect-ratio-keeper-2"></div>
                                        </div>
                                        <img class="image-placeholder"
                                             src="img/image-placeholder-change-image-here.svg" />
                                    </div>
                                    <div class="size-adjuster">
                                        <div class="ignore"></div>
                                        <div class="ignore-2"></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="card-body">
                                        <div class="div-wrapper">
                                            <div class="text">Leonardo DiCaprio</div>
                                        </div>
                                        <div class="div-wrapper">
                                            <div class="text-2">2021052792</div>
                                        </div>
                                        <div class="card-text">
                                            <div class="text-3">Estudiante-Administrador</div>
                                            <div class="min-width-change">
                                                <div class="ignore"></div>
                                                <div class="ignore"></div>
                                            </div>
                                        </div>
                                        <div class="layout-blocks">
                                            <div class="div-wrapper-2">
                                                <div class="wrapper-2">
                                                    <div class="icon-left">
                                                        <div class="width-change-size">
                                                            <div class="ignore"></div>
                                                            <div class="ignore"></div>
                                                        </div>
                                                        <div class="icon-wrapper-h">
                                                            <div class="height-change-size">
                                                                <div class="ignore"></div>
                                                                <div class="ignore"></div>
                                                            </div>
                                                            <div class="icon-wrapper">
                                                                <img class="union"
                                                                     src="img/union.svg" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-4">robertSth@estudiantec.cr</div>
                                                </div>
                                            </div>
                                            <div class="div-wrapper-2">
                                                <div class="wrapper-2">
                                                    <div class="icon-left">
                                                        <div class="width-change-size">
                                                            <div class="ignore"></div>
                                                            <div class="ignore"></div>
                                                        </div>
                                                        <div class="icon-wrapper-h-2">
                                                            <div class="height-change-size">
                                                                <div class="ignore"></div>
                                                                <div class="ignore"></div>
                                                            </div>
                                                            <div class="icon-wrapper-2"></div>
                                                        </div>
                                                    </div>
                                                    <div class="text-4">6561-9810</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-list">
                                            <button class="button">
                                                <div class="div-wrapper-2">
                                                    <div class="text-5">
                                                        Modificar&nbsp;&nbsp;(Redirecciona a
                                                        modficar contraseña)
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-installations">
                            <div class="card-2">
                                <div class="wrapper-3">
                                    <div class="content">
                                        <div class="card-body-2">
                                            <div class="card-title">
                                                <div class="text-6">78</div>
                                            </div>
                                            <div class="card-text">
                                                <div class="text-3">Reservas</div>
                                                <div class="min-width-change-2">
                                                    <div class="ignore"></div>
                                                    <div class="ignore"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-2">
                                <div class="wrapper-3">
                                    <div class="content">
                                        <div class="card-body">
                                            <div class="div-wrapper">
                                                <div class="text-6">150</div>
                                            </div>
                                            <div class="card-text">
                                                <div class="text-3">Horas Jugadas</div>
                                                <div class="min-width-change-2">
                                                    <div class="ignore"></div>
                                                    <div class="ignore"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-2">
                                <div class="wrapper-3">
                                    <div class="content">
                                        <div class="card-body">
                                            <div class="div-wrapper">
                                                <div class="text-6">Martes</div>
                                            </div>
                                            <div class="card-text">
                                                <div class="text-3">Día Frecuente</div>
                                                <div class="min-width-change-2">
                                                    <div class="ignore"></div>
                                                    <div class="ignore"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-2">
                                <div class="wrapper-3">
                                    <div class="content">
                                        <div class="card-body">
                                            <div class="div-wrapper">
                                                <div class="text-6">7-8 pm</div>
                                            </div>
                                            <div class="card-text">
                                                <div class="text-3">Hora Frecuente</div>
                                                <div class="min-width-change-2">
                                                    <div class="ignore"></div>
                                                    <div class="ignore"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="p">
                        El botón modificar es una simulación, rediccionaría al modulo de los arquitectos de modficar
                        perfil
                    </p>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="navbar-default">
                <div class="app-logo"></div>
                <div class="components-navbar"></div>
                <div class="avatar">
                    <div class="width-change-size-2">
                        <div class="ignore"></div>
                        <div class="ignore"></div>
                    </div>
                    <div class="icon-wrapper-h-3">
                        <div class="height-change-size-2">
                            <div class="ignore"></div>
                            <div class="ignore"></div>
                        </div>
                        <div class="icon-wrapper-3">
                            <div class="width-change-size-3">
                                <div class="ignore"></div>
                                <div class="ignore"></div>
                            </div>
                            <div class="icon-wrapper-h">
                                <div class="height-change-size-3">
                                    <div class="ignore"></div>
                                    <div class="ignore"></div>
                                </div>
                                <div class="icon-wrapper"><img class="img" src="img/union-2.svg" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>