/* _content/LayoutTemplateWebApp/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.icon-Profile[b-1wnq3fk48m] {
    width: 50px;
    height: 50px;
    clip-path: circle(50% at 50% 50%);
    background-color: #ACB4BC;
}

.navbar[b-1wnq3fk48m] {
    max-height: var(--navMaxHeight);
    height: var(--navMaxHeight);
}
.page[b-1wnq3fk48m] {
    height: calc(100% - var(--navMaxHeight) - var(--footerMaxHeigth));
    overflow: hidden;
}
.site-bar[b-1wnq3fk48m] {
    border-radius: 0px 10px 10px 0px;
    border-top-width: 2px;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--colorMainTrans);
}

.content-page[b-1wnq3fk48m] {
    overflow-y: auto; /* Scrollable content */
}


.inline-nav-item[b-1wnq3fk48m] {
    display: flex;
    width: 234px;
    align-items: center;
    gap: 24px;
    padding: 0px 0px 0px 30px;
    position: relative;
    flex: 0 0 auto;
    background-color: #e7f1ff;
    border-right-width: 3px;
    border-right-style: solid;
    border-color: var(--colorMain);
}

.inline-nav-item-nd[b-1wnq3fk48m] {
    display: flex;
    width: 234px;
    align-items: center;
    gap: 10px;
    padding: 8px 24px 8px 30px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff00;
}

.footer[b-1wnq3fk48m] {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--greyFooter);
    height:100%;
    max-height: var(--footerMaxHeigth);
}
