@page
@model LayoutTemplateWebApp.Pages.Organizador.BienvenidaOrganizadorModel
@{
    ViewData["Title"] = "Solicitudes de Creación de Evento";
    var userRole = @Model.role;
    string layoutName;
    switch (userRole)
    {
        case "1616": // Estudiante
            layoutName = "_LayoutEstudiante";
            break;
        case "1717": // Profesor
            layoutName = "_LayoutProfesor";
            break;
        case "1919": // Organizador
            layoutName = "_LayoutOrganizador";
            break;
        default:
            layoutName = "_ErrorLayout";
            break;
    }

    Layout = layoutName;
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">¡Bienvenido, Organizador!</h1>
            <p class="lead">Los organizadores pueden ver eventos, crear nuevos eventos y aceptar solicitudes de eventos en nuestra plataforma.</p>
            <a class="btn btn-primary" asp-page="/Eventos/Calendario">Ir al Calendario de Eventos</a>
        </div>
    </div>
</div>