
:root {
    --colorMain: #00A38B;
    --colorMainRGB: 0, 163, 139;
    --colorMainTrans: rgba(0, 163, 139, 0.1);
    --greyFooter: #F1F1F1;
    --whiteContranst: #F6F6F6;
    --greyFooterRGB: 241,241,241;
    --textGrey: #495057;
    --textGreyRGB: 73, 80, 87;
    --textcolor: #00A88F;
    --textcolorRGB: 0, 163, 143;
    --textBlack: 000000;
    --textBlackRGB: 0, 0, 0;
    --gradientMaincolor: linear-gradient(to right, rgba(14,171,163,1) 0%, rgba(22, 193,181,1) 100%);
    --color3: #3CBCCB;
    --color4: #8795B0;
    --color5: #CAD8F2;
    --color6: rgb(20, 25, 25);
    --white: #FFFFFF;
    --color1MainTrans: rgba(24, 24, 35, 0.2);
    --color1Trans: rgba(10, 10, 15, 0.5);
    --color2Trans: rgba(51, 161, 212, 0.2);
    --color2TransPlus: rgba(51, 161, 212, 0.08);
    --color3Trans: rgba(60, 188, 203, 0.4);
    --color4Trans: rgba(135, 149, 176, 0.4);
    --color5Trans: rgba(202, 216, 242, 0.4);
    --color6Trans: rgba(60, 60, 60, 0.8);
    --gradient: linear-gradient(to right, rgba(49, 156, 214, 1) 0%, rgba(61, 192, 201, 1) 100%);
    --gradient2: linear-gradient(61deg, rgba(87, 204, 223, 1) 0%, rgba(71, 115, 217, 1) 100%);
    --font-primary: 'Roboto', sans-serif;
    --navMaxHeight: 85px;
    --footerMaxHeigth: 50px;
}


html {
    font-size: 14px;
    height: 100%;
    margin: 0;
    font-family: var(--font-primary);
    min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/* This secction is for color backgrounds*/

.bg-colorMain {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--colorMainRGB), var(--bs-bg-opacity));
}


/* This secction is for color backgrounds with transparency*/

.bg-colorMainTrans {
    --bs-bg-opacity: 0.1;
    background-color: rgba(var(--colorMainRGB), var(--bs-bg-opacity));
}

.bg-grayContrast{
    background-color: var(--whiteContranst);
}

.bg-footer{
    background-color: var(--greyFooter);
}

/* This secction is for color for texts*/

.txt-Grey {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--textGreyRGB), var(--bs-bg-opacity));
}

.txt-color {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--textGreyRGB), var(--bs-bg-opacity));
}

/* Header text format */
.nav-link {
    color: var(--textGrey) !important; /* This important would be unnecessary, but if we remove doesn't work, Why ? I don't know but I don't care*/
    font-weight: lighter;
}

.active {
    font-weight: bold;
}

.nav-link:hover {
    font-weight: bold;
}

/* Footer format */
.footer {
    background-color: var(--greyFooter);
}

.footer.text-muted .container {
    color: black; 
    text-align: center; 
    font-weight: lighter;
}

/* Estilo para el contenedor del título */
.title-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center; */
    align-items: center;
    height: 100vh; /* 100% de la altura de la ventana (viewport) */
    background-color: #f0f0f0; /* Color de fondo opcional */
}

/* Estilo para el título */
.center-title {
    font-size: 3rem; /* Tamaño de fuente grande */
    text-align: center; /* Centrar el texto horizontalmente */
    margin-top: 0; /* Espacio en la parte superior del título */
    padding: 0; /* Espaciado interno opcional */
    /*background-color: #f1b442;  Color de fondo opcional */
    color: #ca720e; /* Color del texto opcional */
}

/* Estilo para el título secundario */
.left-title {
    font-size: 3rem; /* Tamaño de fuente grande */
    text-align: left; /* Centrar el texto horizontalmente */
    margin-top: 20px; /* Espacio en la parte superior del título */
    padding: 10px; /* Espaciado interno opcional */
    /*background-color: #333; /* Color de fondo opcional */
    color: #000000; /* Color del texto opcional */
}

/* Estilo para los botones */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0; /* Espacio entre el título y los botones */
}

.button {
    margin: 0; /* Espacio entre los botones */
    padding: 10px 20px; /* Tamaño de los botones */
    font-size: 16px; /* Tamaño de fuente de los botones */
    background-color: #007bff; /* Color de fondo de los botones */
    color: #fff; /* Color del texto de los botones */
    border: none; /* Sin borde */
    cursor: pointer;
}

.button2 {
    margin: 0; /* Espacio entre los botones */
    padding: 10px 20px; /* Tamaño de los botones */
    font-size: 16px; /* Tamaño de fuente de los botones */
    background-color: #007bff; /* Color de fondo de los botones */
    color: #fda500; /* Color del texto de los botones */
    border: none; /* Sin borde */
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor por encima */
}
/* Estilo para la lista de eventos */
.event-list {
    /*margin-top: 20px;  Espacio entre los botones y la lista de eventos */
    /*padding: 20px;  Espaciado interno de la lista de eventos */
    /*background-color: #f0f0f0;  Color de fondo opcional */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: block;
}

/* Estilo para un día de eventos */
.event-day {
   /* margin-bottom: 20px;  Espacio entre días de eventos */
   /*display: inline-block;*/
   /*vertical-align: top;*/
   /* Ancho de cada día de eventos */
   /*margin-right: 20px; /* Espacio entre los días */
}


/* Estilo para el botón de desplazamiento */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
}

.scroll-button-left {
    left: 0;
}

.scroll-button-right {
    right: 0;
}

/* Estilo para un evento individual */
.event {
    /*display: flex;
    /*margin-bottom: 20px; /* Espacio entre eventos */
    border: 2px solid #000000; /* Borde de la caja */
    padding: 10px; /* Espaciado interno de la caja */
    border-radius: 10px; /* Borde redondeado */
    background-color: #21b5da; /* Color de fondo de la caja */
    max-width: 540px;
    margin: 0 auto;
}


/* Estilo para la imagen del evento */
.event-image {
    max-width: 100px; /* Ancho máximo de la imagen */
    max-height: 100px; /* Altura máxima de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y los detalles */
}

/* Estilo para los detalles del evento */
.event-details {
    flex-grow: 1; /* Ocupa todo el espacio disponible */
    overflow: auto; /* Agrega barras de desplazamiento cuando sea necesario */
    white-space: normal; /* Permite que el texto se divida en varias líneas */
}

/* Estilo para el contenedor de dos columnas */
.two-columns {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Estilo para cada columna */
.column {
    flex-basis: 48%; /* Ancho de cada columna (ajusta según tus necesidades) */
    padding: 10px;
    background-color: #f0f0f0; /* Color de fondo opcional */
    border: 1px solid #ccc; /* Borde opcional */
}

/* Estilo para el popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
   /* width: 100%;*/
   /* height: 100%;*/
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

/* Estilo para el contenido del popup */
.popup-content {
    background-color: #fff;
    width: 300px; /* Ancho del cuadro del popup */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

/* Estilo para el botón de cierre del popup (la 'x') */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
/* Cambia el color de las flechas del Carousel a naranja */
.carousel-control-prev,
.carousel-control-next {
    color: orange !important; /* Cambia el color de las flechas a naranja */
}

/* Cambia el color de las flechas al pasar el cursor por encima */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: darkorange !important; /* Cambia el color de las flechas a un tono más oscuro de naranja al pasar el cursor por encima */
}
/* Estilos CSS personalizados para los cuadros de eventos */
.card-event {
    background-color: #f8f9fa; /* Cambia el color de fondo */
    border: 1px solid #ccc; /* Agrega un borde */
    border-radius: 10px; /* Redondea las esquinas */
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1); /* Agrega una sombra */
    transition: transform 0.2s; /* Efecto de transición suave */
}

.card-event:hover {
    transform: translateY(-5px); /* Eleva ligeramente el cuadro en hover */
}

/* CLASES PARA EVENTOS*/

.date-title {
    color: #0DCAF0;
    /*font: bold 10rem;*/
}

.event-card-container {
    cursor: pointer;
}

.main-container {
    font-family: Arial, Helvetica, sans-serif
}

.event_image {
    width: 16rem;
    height: 9rem;
    object-fit: cover;
}

.event_image_wide {
    width: 30rem;
    height: 10rem;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



/*Accesibility CSS*/
.inverted-colors {
    filter: invert(1);
    background-color: black; /* This ensures the background is inverted as well */
}

.higher-contrast {
    filter: contrast(150%); /* Adjust the percentage value as needed */
}


.yellow-black {
    color: yellow !important; /* Important might be necessary to override other styles */
    background-color: black !important;
}


    .yellow-black,
    .yellow-black p,
    .yellow-black span,
    .yellow-black h1,
    .yellow-black h2,
    .yellow-black h3,
    .yellow-black h4,
    .yellow-black h5,
    .yellow-black h6,
    .yellow-black a,
    .yellow-black li,
    .yellow-black td,
    .yellow-black th {
        color: yellow !important;
        background-color: black !important;
    }

        .yellow-black,
        .yellow-black *,
        .yellow-black *:before,
        .yellow-black *:after {
            color: yellow !important;
            background-color: black !important;
            border-color: yellow !important;
        }

            .yellow-black input,
            .yellow-black textarea,
            .yellow-black select,
            .yellow-black button {
                color: yellow !important;
                background-color: black !important;
                border: 1px solid yellow !important;
            }

            .yellow-black .bg-gradient {
                background-color: black !important;
                color: yellow !important;
            }

.gray-black,
.gray-black *,
.gray-black *:before,
.gray-black *:after {
    color: #d3d3d3 !important; /* This is light gray, but you can use white (#ffffff) if preferred */
    background-color: black !important;
    border-color: #d3d3d3 !important; /* Same light gray for borders */
}

    .gray-black input,
    .gray-black textarea,
    .gray-black select,
    .gray-black button {
        color: #d3d3d3 !important;
        background-color: black !important;
        border: 1px solid #d3d3d3 !important;
    }

.icon-button {
    background: none; /* Removes default background */
    border: none; /* Removes border */
    padding: 5px; /* Removes padding */
    margin: 0; /* Removes margin */
    cursor: pointer; /* Indicates clickability */
    outline: none; /* Removes the default focus outline (replace with a custom one if needed) */
    -webkit-appearance: none; /* Removes styling in WebKit-based browsers */
    -moz-appearance: none; /* Removes styling in Firefox */
    font-size: 20px;
}

    .icon-button:focus {
        box-shadow: 0 0 3px 2px rgba(0, 123, 255, .5); /* Adds a custom focus outline (in this case, a blue glow) */
    }
