@page
@model LayoutTemplateWebApp.Pages.Estudiante.IndexModel
@{
    ViewData["Title"] = "Solicitudes de Creación de Evento";
    var userRole = @Model.role;
    string layoutName;
    switch (userRole)
    {
        case "1616": // Estudiante
            layoutName = "_LayoutEstudiante";
            break;
        case "1717": // Profesor
            layoutName = "_LayoutProfesor";
            break;
        case "1919": // Organizador
            layoutName = "_LayoutOrganizador";
            break;
        default:
            layoutName = "_ErrorLayout";
            break;
    }

    Layout = layoutName;
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">¡Bienvenido, Estudiante!</h1>
            <p class="lead">Los estudiantes tienen la capacidad de ver eventos y crear nuevos eventos en nuestra plataforma.</p>
            <a class="btn btn-primary" asp-page="/Eventos/Calendario">Ir al Calendario de Eventos</a>
        </div>
    </div>
    <div class="row">
        <form method="post">
            <div class="text-left">
                
                <a href="https://www.facebook.com/feitec" class="btn btn-primary">
                    Facebook
                </a>

                <a href="https://www.instagram.com/feitec/" class="btn btn-primary">
                    Instagram
                </a>
                
            </div>
        </form>
    </div>
</div>
