@page
@model LayoutTemplateWebApp.Pages.Estudiante.IndexModel
@{
    ViewData["Title"] = "Bienvenida Estudiante";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">¡Bienvenido, Estudiante!</h1>
            <p class="lead">Los estudiantes tienen la capacidad de ver eventos y crear nuevos eventos en nuestra plataforma.</p>
            <a class="btn btn-primary" asp-page="/Option1">Ir al Calendario de Eventos</a>
        </div>
    </div>
</div>